body{
  text-align: center;
}

.article-list-box {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.article-item {
  width: calc(33.33% - 10px); /* Adjust the width and margin as needed */
  margin-bottom: 20px;
}

.article-item img{
  width: 100%;
  margin-bottom: 10px;
}